/* importancia da sustentabilidade */

.sessao_1,
.sessao_7 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 0;
    border-bottom: var(--borda);
    border-top: var(--borda);
}

.sessao_1 {
    border-bottom: var(--borda);
}

.sessao_1::before,
.sessao_7::before {
    top: 0;
    left: 0;
    background-image: var(--background-card);
    filter: var(--filtro);
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.sessao_1 .conteudo,
.sessao_7 .conteudo {
    width: 62.5vw;
}

.sessao_1 .texto,
.sessao_7 .texto {
    margin-left: 1vw;
}

/* tablet */
@media (max-width: 850px) {

    .sessao_1,
    .sessao_7 {
        padding: 2.5vw 0;
    }

    .sessao_1 .conteudo,
    .sessao_7 .conteudo {
        width: 75vw;
    }
}

/* celular  */
@media (max-width: 500px) {

    .sessao_1,
    .sessao_7 {
        padding: 5vw 0;
    }

    .sessao_1 .conteudo,
    .sessao_7 .conteudo {
        width: 90vw;
    }

    .sessao_1 .texto,
    .sessao_7 .texto {
        margin-left: 2vw;
    }
}